<h1 class="uppercase font-normal tracking-wide text-2xl text-center">Donatas Adomavicius</h1>

<% @blog_posts.each do |blog_post| %>
  <div>
    <h2 class="mb-5"><%= link_to blog_post.title, blog_post %></h2>
    <% if blog_post.draft? %>
      <div class="px-2 mb-4 rounded bg-rosePine-muted inline-block">Draft</div>
    <% elsif blog_post.scheduled? %>
      <div class="px-2 mb-4 rounded bg-rosePine-pine inline-block">Scheduled</div>
    <% end %>
    <%= blog_post.content %>
  </div>
<% end %>

<% if @pagy.pages > 1 %>
  <div class="mt-16">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
