.pagy {
  display: flex;
  justify-content: center;
  color: #191724;
}

.pagy > :not([hidden]) ~ :not([hidden]) {
  --space-reverse: 0;
  margin-right: calc(0.25rem * var(--space-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--space-reverse)));
}

.pagy {
  font-family: sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.pagy .page a {
  display: block;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  color: inherit;
}

.pagy .page a:hover {
  color: #ebbcba;
}

.pagy .page.active a {
  cursor: default;
  color: #ebbcba;
}

.pagy .page.disabled a {
  cursor: default;
  color: #6e6a86;
}

.pagy .pagy-combo-input, .pagy.pagy-items-selector-js {
  white-space: nowrap;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.125rem 0.75rem;
}

.pagy .pagy-combo-input input, .pagy.pagy-items-selector-js input {
  line-height: 1.5rem;
  border-radius: 0.375rem;
  border-style: none;
}
